@import "src/index";

.header {
  height: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--color-yellow);
  padding: rem(8);

  .item {
    height: 100%;
    font-size: rem(18);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: rem(8);
    text-decoration: none;
    color: var(--color-brown);
  }
}